{% extends "index_core.html" %}
{% block content %}
<!-- your code start -->

    <div class="row">
      <div class="col-md-12 text-left mt-3">
        <h1>PROJECT AND TEAM</h1>
        <BR>
        <BR>
      </div>
    </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>
    $( "#about" ).addClass( "active" );
  </script>      
<!-- your code end -->
{% endblock %}
