
{% extends "index_core.html" %}
{% block content %}

 <div class="row">

 <div class="col-xs-6 col-md-12 mt-3">
      <h1>Review Order</h1>
      </p>
       <p>
       	<!--This button goes to a summary page that repeats full order-->
<!--        	<button class="btn btn-primary " name="submit" type="submit" style="float: 
       right">Submit Order</button></p>  -->
       <br></br>
    </div>
</div>

<BR></BR>
<h3>Your Selections</h3>
<BR>

<div class="row">
{% for key in ordercats %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top food-img"  style="height: 110px; width: 100%; display: block;" src="/static/img/{{ order[key].img }}" id="{ order[key].id }}" data-holder-rendered="true">
      <div class="card-body" style ="height: 120px">
        <div class="d-flex justify-content-between align-items-center">  
        </div>
        <p class="card-text"><strong>{{ order[key].name }}</strong> <!-- {{ order[key].display_desc }} --></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>


<p></p>
<BR></BR>
<BR></BR>
<h3>Enhance Your Meal</h3>
<BR>

<div class="row">
{% for item in recommendations %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top food-img"  style="height: 110px; width: 100%; display: block;" src="/static/img/{{ item.img }}" data-holder-rendered="true">
      <div class="card-body" style ="height: 120px">
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group text-center">
            <button class="btn class_recommend" category="{{ item.category }}" id="{{ item.id }}" name="{{item.name}}" description="{{ item.display_desc }}" img="{{item.img}}" type="button"  style="color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
        <p class="card-text"><strong>{{ item.name }}</strong> <!-- {{ item.display_desc }} --></p>
        
      </div>
    </div>
  </div>
{% endfor %}
</div>

                
<!-- <div class="col-xs-6 col-md-12 mt-3"> -->
      <div class="form-row">
      <div class="form-group col-xs-2 col-md-2">
        <button type="submit" class="btn class_summary " style="color: blue; float: 
       right">Submit Order</button>
      </div>
    </div>
       <p>
        	<!--This button goes to a summary page that repeats full order-->
       	<!-- <button class="btn class_summary " name="submit" type="submit" style="color: blue; float: 
       right">Submit Order</button></p>  -->
   </p>  
       <br></br>
    </div>
</div>


<!-- Begin JS for capturing add-on items (based on recommendations) -->
<script>

var orderObject = {{ order|tojson }};
var recos = {{ recommendations|tojson }};
console.log(orderObject);
console.log(recos);

var orderSummary = {};


//Recommendation selection
d3.selectAll(".class_recommend").on('click', function()
    { 
      var id = d3.select(this).attr("id")
      console.log(id)

/*      orderSummary=['recommendation'] = id;
      console.log(orderSummary);
*/

      var category = d3.select(this).attr("category")
      console.log(category)
 
      var name = d3.select(this).attr("name")
      console.log(name)

      var description = d3.select(this).attr("description")
      console.log(description)


      var img = d3.select(this).attr("img")
      console.log(img)

      orderObject[category] = { 'id': id, 'name': name, 'img': img };

      console.log("A recommendation was added to the food order.");
      
      console.log(orderObject)

     /* d3.select(this).attr("id").style("color", "grey");*/
      d3.select(this).style("color", "grey");


    });

/*d3.selectAll(".class_summary").on('click', function()
	{console.log(orderSummary)*/


/*	});*/

</script>

{% endblock %}


