
{% extends "index_core.html" %}
{% block content %}

 <div class="row">

 	<div class="col-xs-3 col-md-12 mt-3">
      <h1>Review Order</h1>
    </div>
</div>

<BR>
<h3>Your Selections</h3>
<BR>

<div class="row">
{% for key in ordercats %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top food-img"  style="height: 110px; width: 100%; display: block;" src="/static/img/{{ order[key].img }}" id="{{ order[key].id }}" data-holder-rendered="true">
      <div class="card-body" style ="height: 120px">
        <div class="d-flex justify-content-between align-items-center">  
        </div>
        <p class="card-text"><strong>{{ order[key].name }}</strong></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>


<BR></BR>
<BR></BR>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="recosHeader">
  <h3>Enhance Your Meal</h3>
   <p>These suggestions are based on a market basket analysis of the most common purchases that align to your initial selection(s).</p> 
</div>


<BR>

<div class="row">
{% for item in recommendations %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top food-img"  style="height: 110px; width: 100%; display: block;" src="/static/img/{{ item.img }}" data-holder-rendered="true">
      <div class="card-body" style ="height: 120px">
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group text-center">
            <button class="btn class_recommend" category="{{ item.category }}" id="{{ item.id }}" name="{{item.name}}" description="{{ item.display_desc }}" img="{{item.img}}" type="button"  style="color: orange"><strong>Add Item</strong></button>
          </div>
        </div>
        <p class="card-text"><strong>{{ item.name }}</strong></p>
        
      </div>
    </div>
  </div>
{% endfor %}
</div>

       <form id="summaryform" method="POST" action="/summary">
        <input type="hidden" id="order" name="order" value="{}">
        <div class="form-row" style="float: right;">
          <div class="form-group col-md-2">
            <button id="mysubmit" class="btn btn-primary">Go To Summary</button>
          </div>
        </div>
        </form>
  </div>
</div>
        <br>  
        <br>
        <br>




<!-- Begin JS for capturing add-on items (based on recommendations) -->
<script>
var orderObject = {{ order|tojson }};
var recos = {{ recommendations|tojson }};
console.log(orderObject);
console.log(recos);

var orderSummary = {};


// Make h3 Recommendations dynamic in relation to if there is/isn't content
if($('.class_recommend').length == 0){  
  $('.recosHeader').hide();
}


//Recommendation selection
d3.selectAll(".class_recommend").on('click', function()
    { 
      var id = d3.select(this).attr("id")
      console.log(id)

/*      orderSummary=['recommendation'] = id;
      console.log(orderSummary);
*/

      var category = d3.select(this).attr("category")
      console.log(category)
 
      var name = d3.select(this).attr("name")
      console.log(name)

      var description = d3.select(this).attr("description")
      console.log(description)


      var img = d3.select(this).attr("img")
      console.log(img)

      orderObject[category] = { 'id': id, 'name': name, 'img': img };

      console.log("A recommendation was added to the food order.");
      
      console.log(orderObject)

     /* d3.select(this).attr("id").style("color", "grey");*/
      d3.select(this).style("color", "grey").disabled=true;


    });

/* Submitting the order to the Summary page */
d3.selectAll("#mysubmit")
      .on("click", function () {
        d3.event.stopPropagation();
        d3.event.preventDefault();
        console.log("finalizing order");
        console.log(orderObject);
        d3.select("#order").attr("value", JSON.stringify(orderObject));
        var form = d3.select("#summaryform").node();
        form.submit();
        
      });


</script>

{% endblock %}


