{% extends "index_core.html" %}
{% block content %}

    <div class="row">
      <div class="col-md-12 text-left mt-3">
        <h1 style="color: grey">Welcome to EatsEncore!</h1>
        <BR>
        <BR>
      </div>
    </div>
  
  <!--HOMEPAGE: LEFT COLUMN CODE GOES HERE-->
  <div class="row">
    <div class="col-xs-6 col-md-4 " style="padding-right:25px; ">
      <h2 style="color: orange">About This ML Project</h2>
      <p>EatsEncore provide recommendations that will enhance a meal at a given restaurant. This machine learning
      recommendation engine utilized proprietary data from two restaurants. The second restaurant helped prove our code
      so that we can confidently say that the algorithm may be applied to data from additional restaurants or mobile
      app orders and, ideally, increase purchase volume.</p>
  
      <p>Our three-person team completed this after-work project in approximately 3 weeks.</p>
    </div>
    <div class="col-xs-6 col-md-8 " style="padding-left:25px; border-left: 1px solid #ccc;">
    <h2 style="color: orange">Start Your Order</h2>
    <h3 style="color: #C0C0C0">Details for Testing Machine Learning Program</h3>
    <p></p>
    <form method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="exampleFormControlSelect1">Please choose your age group:</label>
        <select class="form-control" id="age_group" name="age_group">
          <option value="0">Age is 0–14</option>
          <option value="1">Age is 15–20</option>
          <option value="2">Age is 21+</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    </form>
    </div>
  </div>

{% endblock %}
