
<!-- Please look at how this page renders by running flask and pointing your browser at http://localhost:5000-->
<!-- please keep the two lines below-->
{% extends "index_core.html" %}
{% block content %}

<div class="row">

 <div class="col-xs-6 col-md-12 mt-3">
      <h1>Feeling Hungry?</h1>
      <h3>Order some delish grub—select up to 1 item per category.</h3>
      <p>Create a restaurant order, based on personal preferences. Then we'll provide a tasty recommendation on what else goes great with your order. 
      </p>
        <a href="#">Entrées</a> | <a href="#">Sides</a> | <a href="#">Desserts</a> | <a href="#">Beverages</a>  | <a href="#">Adult Beverages</a>
       <p><button class="btn btn-primary " name="submit" type="submit" style="float: 
       right">Go To Checkout</button></p> 
       <br></br>
    </div>
</div>



<!--Products: Entrées-->
<h4>Entrées</h4>
<div class="row">
{% for item in entrees %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="/static/img/{{ item.img }}" data-holder-rendered="true">
      <div class="card-body" style ="height: 410px">
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group text-center">
            <button class="btn class{{item.category_id}}" id="{{ item.id }}" type="button"  style="color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
        <p class="card-text"><strong>{{ item.name }}</strong> {{ item.display_desc }}</p>
        
      </div>
    </div>
  </div>
{% endfor %}

<!--Products: Side Dishes-->
<!-- 
<h4>Sides</h4>
<div class="row">
{% for item in side %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top"  style="height: 100px; width: 100%; display: block;" src="/static/img/{{ item.img }}" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><strong>{{ item.name }}</strong> {{ item.display_desc }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button class="btn class{{item.category_id}}" id="{{ item.id }}" type="button"  style="padding-left: 10px; color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %} -->


<!--Products: Desserts-->
<!-- 
<h4>Desserts</h4>
<div class="row">
{% for item in dessert %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top"  style="height: 100px; width: 100%; display: block;" src="/static/img/{{ item.img }}" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><strong>{{ item.name }}</strong> {{ item.display_desc }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button class="btn class{{item.category_id}}" id="{{ item.id }}" type="button"  style="padding-left: 10px; color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %} -->


<!--Products: Beverage-->
<!-- 
<h4>Beverages</h4>
<div class="row">
{% for item in beverage %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top"  style="height: 100px; width: 100%; display: block;" src="/static/img/{{ item.img }}" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><strong>{{ item.name }}</strong> {{ item.display_desc }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button class="btn class{{item.category_id}}" id="{{ item.id }}" type="button"  style="padding-left: 10px; color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %} -->


<!--Products: Alcoholic / Adult Beverages ... this code BROKE IT even when commented out, so removed code for now-->
<!--<h4>Adult Beverages</h4> 
	-->


 


<!-- please keep this, no </body> etc. -->
{% endblock %}


