
<!-- Please look at how this page renders by running flask and pointing your browser at http://localhost:5000-->
<!-- please keep the two lines below-->
{% extends "index_core.html" %}
{% block content %}

<div class="row">

 <div class="col-xs-6 col-md-12 mt-3">
      <h1>Feeling Hungry?</h1>
      <h3>Order some delish grub—select up to 1 item per category.</h3>
      <p>Create a restaurant order, based on personal preferences. Then we'll provide a tasty recommendation on what else goes great with your order. 
      </p>
        <a href="#Entrées">Entrées</a> | <a href="#Sides">Sides</a> | <a href="#Desserts">Desserts</a> | <a href="#Beverages">Beverages</a>  | <a href="#">Adult Beverages</a>
       <p>
       <form method="POST">    
        <div class="form-row" style="float: right;">
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary">Go To Checkout</button>
          </p>
        </div>
      </div>
       <br>
       <br>
       <br>



<!--Products: Entrées-->

<a name="Entrées"></a><h4>Entrées</h4>
<div class="row">
  <div class="entrees">
    {% for item in entrees %}
    <div class="col-md-2">
      <div class="card mb-2 box-shadow">
        <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="/static/img/{{ item.img }}" data-holder-rendered="true">
          <div class="card-body" style ="height: 410px">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group text-center">
                <button class="btn class_entree" id="{{ item.id }}" name="{{item.name}}" description="{{ item.display_desc }}" img="{{item.img}}" type="button"  style="color: blue"><strong>Add Item</strong>
                </button>
              </div>
            </div>
            <p class="card-text"><strong>{{ item.name }}</strong> {{ item.display_desc }}</p>
          </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}



<!--Products: Side Dishes-->
<a name="Sides"></a><h4>Sides</h4>
<div class="row">
{% for item in side %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="/static/img/{{ item.img }}" data-holder-rendered="true">
      <div class="card-body" style ="height: 410px">
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group text-center">
            <!--Charla To Do: Change btn class to btn class_side and remove the curly braces/cat_id -->
            <button class="btn class_side" id="{{ item.id }}" type="button"  style="color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
        <p class="card-text"><strong>{{ item.name }}</strong> {{ item.display_desc }}</p>
        
      </div>
    </div>
  </div>
{% endfor %}



<!--Products: Desserts-->
<a name="Desserts"></a><h4>Desserts</h4>
<div class="row">
{% for item in dessert %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="/static/img/{{ item.img }}" data-holder-rendered="true">
      <div class="card-body" style ="height: 410px">
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group text-center">
            <button class="btn class_desserts" id="{{ item.id }}" type="button"  style="color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
        <p class="card-text"><strong>{{ item.name }}</strong> {{ item.display_desc }}</p>
        
      </div>
    </div>
  </div>
{% endfor %}


<!--Products: Beverage-->
<a name="Beverages"></a><h4>Beverages</h4>
<div class="row">
{% for item in beverage %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="/static/img/{{ item.img }}" data-holder-rendered="true">
      <div class="card-body" style ="height: 410px">
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group text-center">
            <button class="btn class{{item.category_id}}" id="{{ item.id }}" type="button"  style="color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
        <p class="card-text"><strong>{{ item.name }}</strong> {{ item.display_desc }}</p>
        
      </div>
    </div>
  </div>
{% endfor %}




<!--Products: Alcoholic / Adult Beverages ... only shows for User = 2 (i.e., age 21+) | FYI: this code BROKE IT even when commented out, so removed code for now -->
<!--<h4>Adult Beverages</h4> 

	-->


<!--Products: Kids ... only shows for User = 0 (i.e., age 0–14)-->
<!-- 
<h4>Kids</h4>
<div class="row">
{% for item in side %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="/static/img/{{ item.img }}" data-holder-rendered="true">
      <div class="card-body" style ="height: 410px">
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group text-center">
            <button class="btn class{{item.category_id}}" id="{{ item.id }}" type="button"  style="color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
        <p class="card-text"><strong>{{ item.name }}</strong> {{ item.display_desc }}</p>
        
      </div>
    </div>
  </div>
{% endfor %} -->


<script>


// User selects a menu item for their food order via Add Item link
/*var addItemEntree = d3.select("btn class_entree").text("Add Item");*/

//Other categories ....
/*var addItemSide = d3.select("#btn class_side");.text("Add Item");

var addItemDessert = d3.select("#btn class_dessert");.text("Add Item");

var addItemBeverage = d3.select("#btn class_beverage");.text("Add Item");*/

/*var addItemAdultBeverage = d3.select("#btn class_adult_beverage");.text("Add Item");*/


d3.selectAll(".class_entree").on('click', function()
    { 
      var img = d3.select(this).attr("img")
      console.log(img)

      var name = d3.select(this).attr("name")
      console.log(name)

      var description = d3.select(this).attr("description")
      console.log(description)

      console.log("An item was added to the food order.");
      
      //d3.select(".entrees").html("");
      //d3.selectAll(".class_entree").disabled=true;
      d3.selectAll('.class_entree').remove();
    });

/*  console.log(orderCart);

  addItemEntree.disabled;*/


/*
function handleClick() {
  console.log("An item was added to the food order.");
    // Prevent the page from refreshing
    d3.event.preventDefault();

	var orderCart = [];

	var foodItem = function(id, name, display_desc) {
		this.id = itemNumber
		this.name = itemName
		this.display_desc = itemDescription
	};


	function addItemToCart(id, name, display_desc) {
		var foodOrder = new foodItem(id, name, display_desc);
		orderCart.push(foodItem); 

	console.log(addItemToCart)
	}*/

	

/*	addItemSide.disabled;

	addItemDessert.disabled;

	addItemBeverage.disabled;

	addItemAdultBeverage.disabled;*/
/*
};

//Submit entire food order 
submit.on("btn btn-primary ", function() {
  console.log(d3.event.target);
});

// Use the `on` function in d3 to attach an event to the handler function
button.on("click", handleClick);

  d3.select(" ").html;

// Input fields can trigger a change event when new text is entered.
inputField.on("change", function() {
  var newText = d3.event.target.value;
  console.log(newText);
});

*/
	


</script> 

 


<!-- please keep this, no </body> etc. -->
{% endblock %}


