
<!-- Please look at how this page renders by running flask and pointing your browser at http://localhost:5000-->
<!-- please keep the two lines below-->
{% extends "index_core.html" %}
{% block content %}

<div class="row">
 <div class="col-xs-6 col-md-12 mt-3">
      <h1>Feeling Hungry?</h1>
      <h3>Order some delish grub—select up to 1 item per category.</h3>
      <p>Create a restaurant order, based on personal preferences. Then we'll provide a tasty recommendation on what else goes great with your order. 
      </p>
        <a href="#">Entrées</a> | <a href="#">Sides</a> | <a href="#">Desserts</a> | <a href="#">Beverages</a>
       <p><button class="btn btn-primary " name="submit" type="submit">Go To Checkout</button></p> 
    </div>
</div>
<div class="row">

  <div class="col-md-3">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top"  style="height: 100px; width: 100%; display: block;" src="/static/img/sandwich_tuna_sandwich.png" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><strong>PRODUCT NAME</strong> PRODUCT DESCRIPTION (display_desc) with apples and beverages, plus more words</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn" style="padding-left: 100px; color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top"  style="height: 100px; width: 100%; display: block;" src="/static/img/sandwich_tuna_sandwich.png" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><strong>PRODUCT NAME</strong> PRODUCT DESCRIPTION (display_desc) with apples and beverages, plus more words</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn" style="padding-left: 100px; color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top"  style="height: 100px; width: 100%; display: block;" src="/static/img/sandwich_tuna_sandwich.png" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><strong>PRODUCT NAME</strong> PRODUCT DESCRIPTION (display_desc) with apples and beverages, plus more words</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn" style="padding-left: 100px; color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top"  style="height: 100px; width: 100%; display: block;" src="/static/img/sandwich_tuna_sandwich.png" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><strong>PRODUCT NAME</strong> PRODUCT DESCRIPTION (display_desc) with apples and beverages, plus more words</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn" style="padding-left: 100px; color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top"  style="height: 100px; width: 100%; display: block;" src="/static/img/sandwich_tuna_sandwich.png" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><strong>PRODUCT NAME</strong> PRODUCT DESCRIPTION (display_desc) with apples and beverages, plus more words</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn" style="padding-left: 100px; color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top"  style="height: 100px; width: 100%; display: block;" src="/static/img/sandwich_tuna_sandwich.png" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><strong>PRODUCT NAME</strong> PRODUCT DESCRIPTION (display_desc) with apples and beverages, plus more words</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn" style="padding-left: 100px; color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top"  style="height: 100px; width: 100%; display: block;" src="/static/img/sandwich_tuna_sandwich.png" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><strong>PRODUCT NAME</strong> PRODUCT DESCRIPTION (display_desc) with apples and beverages, plus more words</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn" style="padding-left: 100px; color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top"  style="height: 100px; width: 100%; display: block;" src="/static/img/sandwich_tuna_sandwich.png" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><strong>PRODUCT NAME</strong> PRODUCT DESCRIPTION (display_desc) with apples and beverages, plus more words</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn" style="padding-left: 100px; color: blue"><strong>Add Item</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- please keep this, no </body> etc. -->
{% endblock %}


