{% extends "index_core.html" %}
{% block content %}
<!-- your code start -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EatsEncore Analytics</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style> 

  #icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

  #time_of_day {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

  #day_of_week {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

  #lunch_dinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

  #item_category {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
  
  
</style>
</head>

<!--Main Body-->
<body>
  <div class="row">
    <div class="col-md-12 text-left mt-3">
      <h1 style="color: grey ">Diving Into the Data</h1>
      <BR>
      <BR>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-left mt-3">
      <h2 style="color: orange">When Do Users Order?</h2>
      <BR>
      <!-- Plot 1: Line Chart-->
      <h3 style="color: #C0C0C0">Order Volume by Time of Day</h3>
      <div id="time_of_day" style="width:1000px;height:450px;">
        <script>
          plot_1 = document.getElementById('time_of_day');
          var trace1 = {
            x: ["9AM", "10AM", "11AM", "12PM","1PM","2PM","3PM","4PM","5PM","6PM","7PM","8PM"],
            y: [1331, 11078, 19650, 16711,9758,4522,2085,2033,3225,2363,580,130],
            type: "line",
            borderColor: "rgb(75, 192, 192)",
          };

          var data = [trace1];

          var layout = {
            xaxis: { title: "Time Of Day", },
            yaxis: { title: "Units Sold", borderColor: "#FFA500"}
          };
          Plotly.newPlot("time_of_day", data, layout);
        </script>

      <!-- Plot 2: Horizontal Bar Chart-->
      <br><br><h3 style="color: #C0C0C0">Order Volume by Day of Week</h3>
      <div id="day_of_week" style="width:1200px;height:400px;"></div>
      <script>
        plot_2 = document.getElementById('day_of_week');
        var data = [
      { x: [2225,1642,1608,1755,2279,2617,2855],
        y: ['Monday ', 'Tuesday ', 'Wednesday ','Thursday ','Friday ','Saturday ','Sunday '],
        type: 'bar',
        orientation: 'h' }        
      ];
      var layout = {
        xaxis:{ title: "Units Sold"},
        yaxis:{
          autorange:'reversed'
          }
      }
    Plotly.newPlot('day_of_week', data,layout);
      </script>
      
      <!-- Plot 3-->
      <br><br><h3 style="color: #C0C0C0">Order Volume (Units Sold) by Lunch vs Dinner</h3>
      <div id="lunch_dinner"></div>
      <script>
        plot_3 = document.getElementById('lunch_dinner');
     var trace1 = {
        labels: ["Dinner", "Lunch"],
        values: [9603,63863],
        backgroundColor: ["#0074D9", "#FF4136"],
        type: 'pie'
        };
      var data = [trace1];
      var layout = {
          showlegend: false
        };
      Plotly.newPlot("lunch_dinner", data, layout);
    </script>
    
      <BR><BR><BR><BR><BR><BR>
      <h2 style="color: orange">What Do Users Order?</h2>
      <BR>
      <!-- Plot 4-->
      <h3 style="color: #C0C0C0">Units Sold by Item Category</h3><br>
      <div id="item_category" style="width:1000px;height:400px;"></div>
      <script>
      plot_4=document.getElementById('plot_4')
      var trace1 = {
      x: ["Entrée", "Beverage", "Kids", "Alcohol","Dessert", "Side"],
      y: [36009, 19932, 9810, 3747, 2604, 1364],
      type: "bar"
    };

     var data = [trace1];

     var layout = {
      xaxis: { title: "Item Category"},
      yaxis: { title: "Units Sold"}
    };

     Plotly.newPlot("item_category", data, layout);

      </script>

    <br><br><br><h2 style="color: orange">Most Popular Item in Each Category</h2><br>

<div class="row">
<!-- Kids -->
<div class="col-md-2">
  <div class="card mb-2 box-shadow">
    <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="static/img/fried_chicken-strips.png" data-holder-rendered="true">
    <div class="card-body" style ="height: 120px">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group text-center">
        </div>
      </div>
      <p class="card-text" style="color: #C0C0C0'"><strong>Kids</strong><BR>Chicken Strips</p>
    </div>
  </div>
</div>

<!-- Entree -->
<div class="col-md-2">
  <div class="card mb-2 box-shadow">
    <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="static/img/salad_mediterranean_salad_chicken.png" data-holder-rendered="true">
    <div class="card-body" style ="height: 120px">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group text-center">
        </div>
      </div>
      <p class="card-text" style="color: #C0C0C0'"><strong>Entrée</strong><BR>Mediterranean Salad with Chicken</p>
    </div>
  </div>
</div>

<!-- Side -->
<div class="col-md-2">
  <div class="card mb-2 box-shadow">
    <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="static/img/fries_french_fries.png" data-holder-rendered="true">
    <div class="card-body" style ="height: 120px">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group text-center">
        </div>
      </div>
      <p class="card-text" style="color: #C0C0C0'"><strong>Side</strong><BR>French Fries</p>
    </div>
  </div>
</div>

<!-- Dessert -->
<div class="col-md-2">
  <div class="card mb-2 box-shadow">
    <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="static/img/dessert_chocolate_cupcake.jpeg" data-holder-rendered="true">
    <div class="card-body" style ="height: 120px">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group text-center">
        </div>
      </div>
      <p class="card-text" style="color: #C0C0C0'"><strong>Dessert</strong><BR>Chocolate Cupcake</p>
    </div>
  </div>
</div>

<!-- Beverage -->
<div class="col-md-2">
  <div class="card mb-2 box-shadow">
    <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="static/img/bev_fountain_beverages.jpeg" data-holder-rendered="true">
    <div class="card-body" style ="height: 120px">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group text-center">
        </div>
      </div>
      <p class="card-text" style="color: #C0C0C0'"><strong>Beverage</strong><BR>Fountain Beverages</p>
    </div>
  </div>
</div>

<!-- Boozy Alocholic Adult Beverage --> 
<div class="col-md-2">
  <div class="card mb-2 box-shadow">
    <img class="card-img-top food-img"  style="height: 100px; width: 100%; display: block;" src="static/img/happy_daze.jpg" data-holder-rendered="true">
    <div class="card-body" style ="height: 120px">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group text-center">
        </div>
      </div>
      <p class="card-text" style="color: #C0C0C0'"><strong>Adult Beverage</strong><BR>Happy Daze Cocktail</p>
    </div>
  </div>
</div>
</div>
<BR><BR><BR><BR><BR><BR>
<h2 style="color: orange">How Much Do Users Order?</h2>
<BR>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img id="icon" src="static/img/Dining_Reservation.png" style="height: 100px; display: block;">
      <br>
      <h3 style="color: grey" align="center">Average Amount =</h3>
      <h3 style="color: grey" align="center">$44.83</h3>
      <br>
    </div>

    <div class="col-md-4">
      <img id="icon" src="static/img/empty_cart.png" style="height: 100px; display: block;">
      <br>
      <h3 style="color: grey" align="ce">Average Number of Items =</h3>
      <h3 style="color: grey" align="center">4.9 Items</h3>
      <br>
    </div>

    <div class="col-md-4">
      <img id="icon" src="static/img/Cart_Full.png" style="height: 100px; display: block;">
      <br>
      <h3 style="color: grey" align="center">Largest Volume Order = </h3>
      <h3 style="color: grey" align="center">39 Items</h3>
    </div>
    <div>
      <BR><BR><BR><BR><BR><BR>
      <p><i>* Note: Proprietary data based on restaurant orders from 31 July 2018 – 25 November 2018</i></p>
    </div>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script>
  $( "#stats" ).addClass( "active" );


</script>      


<!-- your code end -->
{% endblock %}
