
{% extends "index_core.html" %}
{% block content %}

 <div class="row">

 <div class="col-xs-6 col-md-12 mt-3">
      <h1>Order Summary</h1>
      </p>
       <p>
</div>


<div class="row">
{% for key in order %}
  <div class="col-md-2">
    <div class="card mb-2 box-shadow">
      <img class="card-img-top food-img"  style="height: 110px; width: 100%; display: block;" src="/static/img/{{ order[key].img }}" id="{{ order[key].id }}" data-holder-rendered="true">
      <div class="card-body" style ="height: 120px">
        <div class="d-flex justify-content-between align-items-center">  
        </div>
        <p class="card-text"><strong>{{ order[key].name }}</strong></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>




<p></p>
<BR></BR>
<BR></BR>



                
<div class="col-xs-6 col-md-12 mt-3">
       <p>
       	<!--Orig version commented out ... hardcoded to go back to the start-->
<!--         <button class="btn btn-primary " name="submit" type="submit" style="float: 
       right">Start New Order</button></p>  -->
       <button class="btn btn-primary " name="submit" type="submit" style="float: 
       right"><a href="index.html">Start New Order</a></button></p> 
   </p> 
       <br></br>
    </div>
</div>

{% endblock %}


